.cv {
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cv div {
    width: 100%;
}

.cv h1 {
    font-weight: 400;
}

.cv p {
    font-weight: 300;
    font-size: 1.2em;
}

.cv .progressBars {
    margin-bottom: 20px;
}

.cv .btnCV {
    border: 1px solid #1b96bb;
    color: #1b96bb;
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
}

.cv .btnCV:link {
    color: #1b96bb;
}

.cv .btnCV:hover {
    color: white;
    background-color: #1b96bb;
}

@media(max-width: 800px) {
    .cv h1 {
        font-size: 1.5em;

    }

    .cv p {
        font-size: 1em;
    }
}

.progress1 {
    background: rgba(0, 0, 0, 0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 0px;
    display: flex;
    height: 25px;
    width: 100%;
    margin-bottom: 10px;
}

.progress-value1 {
    animation: load 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #1b96bb;
    height: 25px;
    width: 0;
}

.progress-value1 span {
    color: #fff;
    font-size: 16px;
    text-align: center;
    display: block;
}

@keyframes load {
    0% {    
        width: 0;
    }
}