.main {
    text-align: center;
    font-family: Lato, sans-serif;
    padding-bottom: 30px;
    padding-top: 20px;
}

.main h1 {
    color: #3F3F3F;
    font-size: 2em;
    margin-top: 20px;
}

.main h2 {
    color: #707070; 
    font-size: 1.5em;
    margin-top: -10px;
}