.programming {
    padding-top: 25px;
    padding-bottom: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: 'Lato';
}

.cards {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.card:link {
    text-decoration: none;
}

@media (max-width: 1000px) {
    .cards {
        flex-direction: column;
    }

    .card {
        margin-bottom: 20px;
    }

    .programming h1 {
        font-size: 2em;
    }

    .programming h2 {
        width: 80%;
        font-size: 1.5em;
        text-align: center;
    }
}

.programming h1 {
    font-weight: 400;
    margin-top: 20px;
}

.programming h2 {
    color: #707070;
    font-weight: 300;
    font-size: 1.5em;
    margin-top: -10px;
    margin-bottom: 20px;
}

.programming h3 {
    font-family: 'Lato';
}

.programming {
    text-align: justify;
}